@model List<Wipro.Lib.Link>
@using Wipro.Web.ViewComponents

@{
    ViewData["Title"] = "Crawl Wipro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crawling Wipro</h2>

<div class="row">

    @if (@Model != null)
    {
        @foreach (var link in Model)
        {
            <div style="border: 1px solid grey; padding: 10px">
                <h3>Page URL: @link.Href </h3>
                <ol>
                    @if (link != null && !string.IsNullOrEmpty(link.Href))
                    {
                        @await Component.InvokeAsync("DisplayLinks", new { url = link.Href, isRoot = false })
                    }
                </ol>
            </div>
        }
    }
</div>
